@import "_variables";
@import "_share";
@import "_media";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: roboto;
}

.container {
    display: grid;
    grid-template-columns: 18% 1fr;
    grid-template-rows: 100vh;

    @include media(sm) {
        grid-template-columns: 1fr;
        position: relative;
    }
    .dash {
        padding: 30px 0;
        background-color: $primary-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 25px;

        @include media(sm) {
            transform: translate(-100%);
            position: absolute;
            z-index: 1000;
            border-radius: 0px;
            transition: 0.3s ease all;
            width: 80%;
            height: 100vh;
            justify-content: flex-start;
            padding: 0;
        }
        &.active-drawer-navigation {
            transform: translate(0%);
        }
        .title {
            span {
                display: flex;
                align-items: center;
                i {
                    color: $primary-color-text;
                    font-size: 25px;
                    margin-right: 5px;
                }
                h4 {
                    color: $primary-color-text;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
            @include media(sm) {
                display: none;
            }
        }

        .items {
            display: flex;
            flex-direction: column;
            @include media(sm) {
                justify-content: flex-start;
                width: 100%;
            }
        }
    }
    .contenido {
        .header-page {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include media(sm) {
                flex-direction: column;
                margin-bottom: 1rem;
            }
            .profile {
                display: flex;
                align-items: center;
                @include media(sm) {
                    order: 1;
                    flex-direction: column;
                }
                .icons {
                    @include media(sm) {
                        order: 2;
                        i{
                            font-size: 20px;
                        }
                    }
                    i {
                        font-size: 18px;
                        color: $primary-color;
                        margin: 8px;
                    }
                }
                .image-name {
                    display: flex;

                    img {
                        margin-left: 20px;
                        margin-right: 10px;
                        width: 45px;
                        height: 45px;
                        border-radius: 100%;
                        cursor: pointer;
                    }
                    span {
                        color: #ccc;
                        align-self: center;
                    }
                }
            }
            .find-product {
                width: 40%;
                @include media(sm) {
                    width: 100%;
                    order: 3;
                }
                .search-product {
                    position: relative;
                    .input-search {
                        width: 100%;
                        padding: 10px;
                        border: none;
                        background: #ddd9f2;
                        opacity: 0.9;
                        border-radius: 10px;
                        z-index: 10;
                        transition: 0.3s ease all;
                        color: $primary-color;
                        &:focus {
                            border: 2px solid $primary-color;
                            outline: none;
                            box-shadow: 3px 0 px 30px rgba(163, 163, 163, 0.4);
                        }
                        &::placeholder {
                            color: $primary-color;
                        }
                    }
                    .formulario_validacion-estado {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        z-index: 100;
                        font-size: 16px;
                        color: $primary-color;
                        cursor: pointer;
                    }
                }
            }
        }
        h1 {
            font-size: 22px;
            color: $primary-color;
            margin: 10px 0;
        }
        padding: 20px;
        .cards-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: minmax(100px, auto);
            gap: 20px;
            @include media(sm) {
                grid-template-columns: 1fr;
            }
        }
        .card {
            &.active {
                .button-now {
                    display: block;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            position: relative;

            .button-now {
                display: none;
                position: absolute;
                top: 25%;
                left: 25%;
                padding: 20px 70px;
                border-radius: 20px;
                background-color: $primary-color;
                color: white;
                font-weight: bold;
                font-size: 17px;
                border: none;
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }
            transition: 0.3s ease all;
            border-radius: 15px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            background: $card-backgroud;
            .cart {
                text-align: right;
                color: #b2b2b4;
                font-size: 20px;
            }
            .cloth {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 30%;
                    height: 30%;
                }
            }
            .description {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .ranking {
                    i {
                        color: #f6bf1e;
                        font-size: 12px;
                    }
                    h4 {
                        color: $primary-color;
                    }
                }
                .price {
                    color: $primary-color;
                    font-weight: bold;
                    font-size: 14px;
                }
            }
        }
    }
}
